@charset "UTF-8";
@import 'mixins';




/****************************
  sp
*****************************/
.sp {
  display: none !important;
}

body {
  /* min-width: 1000px; */
}


/****************************
  login
*****************************/
.wrapper.login {
	height: 100%;
	position: relative;
}

.login {
	display: block;
	margin: 0 auto;
	width: 440px;
	top: 50%;
	left: 0;
	right: 0;
	position: absolute;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

	.logo {
		display: block;
		width: 100%;

		figure {
			margin: 0 auto;
			width: 290px;
			height: 87px;

			img {
				@include w_100;
			}
		}
	} /* .logo */

	.form__wrapper {
		margin-top: 89px;

		.input {
			position: relative;
			margin: 0 auto;
			padding: 0 15px 10px;
			box-sizing: border-box;

			figure {
				display: inline-block;
				width: 27px;
				height: 27px;

				img {
					@include w_100;
				}
			}

			input {
				position: absolute;
				top: 0;
				left: 57px;
				width: 100%;
				width: 368px;
				padding-right: 15px;
				background: transparent;
				border: 0;
				text-align: center;
				color: $blue;
				font-family: 'Roboto';
				font-size: 21px;
				line-height: 27px;
				letter-spacing: 0.02em;
				box-sizing: border-box;
			}

			&.user {
				position: relative;
				color: $blue;
				border-bottom: 2px solid $blue;
			}

			&.password {
				margin-top: 45px;
				border-bottom: 2px solid $darkgray;

				input {
					color: $darkgray;
				}
			}
		}


		.btn--wrapper {
			margin-top: 40px;
			@include transition;

			&:hover {
				opacity: .7;
			}

			.btn--login {
				display: block;
				width: 100%;
				padding: 15px 0;
				background: $blue;
				text-align: center;
				color: $white;
				font-size: 18px;
				line-height: 1.9;
				letter-spacing: 0.02em;
				border: 0;
				border-radius: 50px;
				box-shadow: 0px 4px 8px 0px rgba(31, 23, 20, 0.12);
			}
		}

		.loggedinbox {
			display: table;
			width: 100%;
			margin-top: 20px;
			text-align: center;

			.checkbox__label{
				margin-left: 12px;
				display: inline-block;
				vertical-align: middle;
				font-size: 15px;
				line-height: 29px;
				letter-spacing: 0.02em;
			}
		}
	} /* .form__wrapper */

} /* .login */

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url('./../images/icons/icon_arrow_down_black.png');
  background-position: 92% center;
  background-repeat: no-repeat;
  background-size: 12px;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}


input[type="text"] {
	font-size: 16px;
	text-indent: 12px;
}

/****************************
  FOOTER
*****************************/
footer {
	width: 100%;

	&.footer--login {
		position: fixed ;
		bottom: 0;
	}

	.footer__inner {
		margin: 0 auto 15px;
		text-align: center;
		letter-spacing: 0.02em;

		.forgotpw{
			margin: 15px auto 15px;
			font-size: 15px;

			a {
				color: $blue;

				&:hover {
					opacity: .7;
				}
			}
		}

		.copyright{
			margin: 40px auto 0;
			font-family: 'Roboto';
			color: #666666;
			font-size: 12px;
		}
	}


}


/****************************
  SIDEBAR
*****************************/

aside#navi {
	width: 240px;
	height: 100%;
	position: fixed;
	display: inline;
	float: left;
	background: #191f28;
	color: #fff;
	overflow-y: auto;

	nav {
		ul {
			margin-top: 80px;

			li {
				@include transition;

				a {
					display: block;
					padding: 25px 40px;
					color: #fff;
					text-decoration: none;
					position: relative;

					img {
						@include transition;
						margin-right: 7px;
						display: inline-block;
						vertical-align: middle;
					}

					p {
						@include transition;
						display: inline-block;
						vertical-align: middle;
						font-size: 16px;
						line-height: 1.2;
					}

					&:hover {
						img,
						p {
							opacity: 0.8;
						}
					}

				}

				&.active {
					a {
						background: #1c3051;
					}
				}

				&.dashboard {
					img {
						width: 20px;
						height: 18px;
					}
				}

				&.page {
					img {
						width: 20px;
						height: 20px;
					}
				}

				&.form {
					img {
						width: 20px;
						height: 20px;
					}
				}

				&.design {
					img {
						width: 21px;
						height: 21px;
					}
				}

				&.analytics {
					img {
						width: 19px;
						height: 16px;
					}
				}

				&.list {
					img {
						width: 19px;
						height: 12px;
					}
				}

				&.settings {
					img {
						width: 21px;
						height: 21px;
					}
				}
			} /* li */

			li.dropdown {
				position: relative;

				&.js-dropdown {
					.submenu {
						display: block;
					}

					.dropdownBtn {
						a {
							span {
								background: url('../images/icons/icon_arrow_up_white.png');
								background-size: 100% auto;
							}
						}
					}
				}

				.dropdownBtn {
					width: max-content;
					display: block;
					position: absolute;
					top: 8px;
					right: 0;

					a {
						display: inline-block;
						width: 11px;
						vertical-align: middle;

						span {
							content: '';
							display: block;
							width: 11px;
							height: 6px;
							background: url('../images/icons/icon_arrow_down_white.png');
							background-size: 100% auto;
						}

						&:hover {

							img,
							p {
								opacity: 0.8;
							}

						}

					}

				}

				.subicon {
					img {
						float: right;
						width: 11px;
						height: 6px;
						padding: 15px;
						margin-top: -8px;
						margin-right: -12px;
					}

					&.active {
						display: block;
					}
				}

				.subicon.active {
					display: block;
				}

				.submenu {
					display: none;
					width: 100%;
					margin-top: 1px;
					list-style: none;
					background: none;

					&.active {
						margin-top: 1px;
						display: block;
						z-index: 10;
					}

					li {
						padding: 0px;
						border-bottom: none;
						background: #191f28;

						a {
							background: #191f28 !important;
							padding: 25px 25px 25px 75px;

							&::after {
								content: none;
							}

							&:hover {
							}
						}

						&.active {
							a {
								background: #1c3051 !important;
							}
						}
					}
				}
			} /* li.dropdown */
		} /* ul */
	} /* nav */
}/* aside#navi */




/****************************
  MAIN
*****************************/

#main {
	width: calc( 100% - 240px );
	min-height: 100vh;
	display: inline;
	position: relative;
	float: right;
	background: #f8f9fa;

	&.user {
		width: 100%;
	}

	header {
		padding: 17px 50px;
		display: block;
		background: #fff;
		border-bottom: 1px solid #e5e5e5;

		.logo {
			display: inline-block;
			width: 140px;
			height: 42px;
			@include transition;

			&:hover {
				opacity: .7;
			}

			a {
				display: block;

				img {
					@include w_100;
				}
			}
		}

		.logout {
			float: right;
			width: 45px;
			height: 45px;
			@include transition;

			a {
				display: block;

				img {
					@include w_100;
				}
			}

			&:hover {
				opacity: .7;
			}
		}
	}

	.section {
		display: block;
		margin: 20px 50px 0;
		padding: 25px 0 20px;
		background: $white;
		border-radius: 5px;
		box-shadow: 0px 2px 6px 0px rgba(31, 23, 20, 0.08);

		&.question,
		&.padded {
			padding: 22px 35px !important;
		}

		&#question1 {
			.section__row {
				.buttonContainer {
					a {
						&:last-child{
							display: none !important;
						}
					}
				}
			}
		}

		&.form {
			padding: 22px 35px !important;
			.section__label {
				&.title {
					&::before {
						display: none;
					}
				}
			}
		}

		&.form.addPad {
			padding: 40px 40px !important;
		}

		&.form.addPad2 {
			padding: 60px 60px !important;
		}

		&.nobg {
			background: none;
			box-shadow: none;
			border: none;
			padding: 0;
			.section__content,
			.section__row {
				&:not(:nth-child(1)) {
					margin-top: 20px;
				}
			}
		}

		&.nosidepad {
			padding: 16px 0px !important;
		}

		&.page-list {
			height: 52vh;
		}

		.section__row {
			display: block;

			&:not(:nth-child(1)) {
				margin-top: 40px;
			}

			&.addVerticalPadding {
				padding: 25px 0px;
			}

			input[type="number"],
			input[type="text"],
			select {
				min-width: 180px;
				padding: 12px 10px;
				border: 1px solid #e5e5e5;
				border-radius: 3px;
			}

			input[type="text"] {
				width: 98%;
			}

			select {
				height: 43px;
				padding: 10px 20px 10px 0;
			}

			textarea {
				width: 100%;
				height: 500px;
				padding: 12px;
				resize: none;
				border: 1px solid #e5e5e5;
				border-radius: 3px;
				box-sizing: border-box;
				overflow: auto;
			}

		}

		h3 {
			font-size: 42px;
			span {
				font-size: 60%;
			}
		}

		.permalink {
			.section__label {
				padding: 0 35px;
				display: inline-block;
				font-size: 16px;
				font-weight: normal;
				letter-spacing: 0.02em;
				span {
					font-size: 80%;
				}
			}
			.permalink__Btn {
				margin-left: 25px;
				display: inline-block;
				color: #fff;
				text-decoration: none;
				font-size: 16px;
				p {
					border: 1px solid #e5e5e5;
					border-color: #2775f6;
					border-radius: 20px;
					padding: 7px 15px;
					max-width: 150px;
					text-align: center;
					color: $white;
					background: $blue;
					transition: all 1s ease;
					span {
						font-size: 80%;
					}
				}
				&:hover {
					p {
						color: $blue;
						background: $white;
					}
				}
			}
		}

		.site__preview,
		.section__rowPlaceholder {
			width: 100%;
			height: 45vh;
			background: #eee;
		}

		.section__label {
			padding: 0 35px;
			width: max-content;
			display: inline-block;
			font-size: 16px;
			font-weight: 500;
			letter-spacing: 0.02em;
			span {
				font-size: 80%;
			}
			&.title {
				text-align: left;
				padding: 0;
				position: relative;
				cursor: pointer;
			}
		}


		.buttonContainer {
			float: right;
			width: max-content;
			display: block;
			position: relative;

			a {
				display: inline-block;
				width: 25px;
				vertical-align: middle;

				span {
					content: '';
					display: block;
					&.closeBtn {
						width: 21px;
						height: 21px;
						background: url('../images/icons/icon_close-button.png') no-repeat;
						background-size: 100% auto;
					}
					&.hide {
						display: none;
					}

					&.toggleArrow {
						width: 11px;
						height: 6px;
						background: url('../images/icons/icon_arrow_down_black.png') no-repeat;
						background-size: 100% auto;
					}

					&.toggleArrow.js-toggle--arrow {
						background: url('../images/icons/icon_arrow_up_black.png') no-repeat;
						background-size: 100% auto;
					}

				}

			}

		}

		&:nth-of-type(2) {
			margin-top: 15px;
			padding: 25px 35px 20px;
			&.nobg {
				padding: 0px 35px;
			}

			.section__label {
				padding: 0;
				span {
					margin-left: 20px;
				}
			}
			.section__row:not(:nth-child(1)) {
				margin-top: 32px;
			}
		}

		.section__subContent {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 154px);
			font-size: 16px;
			input[type="text"] {
				width: calc(100% - 35px);
				min-width: 180px;
				padding: 12px 10px;
				border: 1px solid #e5e5e5;
				border-radius: 3px;
			}
			&:nth-of-type(2) {
				margin-top: 10px;
				margin-left: 150px;
				.section__checkbox--label {
					padding: 0 10px;
					width: max-content;
					display: inline-block;
					font-size: 16px;
					font-weight: normal;
					letter-spacing: 0.02em;
				}
			}
		}
	}
}

.incremental-counter {
	margin: 0 auto;
	text-align: center;

	.num {
		display: inline-block;
		position: relative;
		margin-right: 10px;
		padding: 28px 0;
		width: 70px;
		height: 100px;
		text-align: center;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		box-sizing: border-box;

		&:last-child {
			margin-right: 0;
		}

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 1px;
			background: #eee;
			width: auto;
		}

		span {
			position: relative;
			color: #000;
			font-family: 'Roboto';
			font-size: 60px;
			font-weight: 300;
			line-height: 43px;
		}
	}
}

.chart {
	margin-top: 25px;
	border-top: 1px solid #e5e5e5;
}

.section__list {

	.section__listItem {
		display: block;
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.02em;

		.section__listItem--title {
			float: left;
			width: 50%;

			p {
				margin-top: 15px;
			}
		}

		.section__listItem--description {
			float: right;
			width: 50%;

			p {
				margin-top: 15px;
				float: left;
			}

			.section__listItem--button {
				float: right;
				width: 160px;
				padding: 13px 0;
				text-align: center;
				background: $blue;
				color: $white;
				border: 1px solid $blue;
				border-radius: 25px;
				@include transition;

				&:hover {
					background: $white;
					color: $blue;
				}
			}
		}
	}

} /* .section__list */


/*********************************
	SECTION CONTENT
**********************************/

.section.form .section__content {
		display: block !important;
		height: 100% !important;
}
.section__content {
	display: none;
	margin-top: 22px;
	width: 100%;
	height: 0;
	overflow: hidden;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.02em;
	@include transition;

	&.js-section__content {
		height: 100%;
	}

	&.no-top {
		margin-top: 0px;
	}


	.section__content--table {
		display: table;
		width: 100%;

		.tr {
			display: table-row;
			width: 100%;
			.th, .td {
				&.no-top{
					padding-top: 0px;
				}
				display: table-cell;
				padding-top: 30px;
			}

			.th {
				vertical-align: middle;

				&:first-child {
					width: 150px;
				}
			}

			.td {
				vertical-align: middle;

				p {
					display: inline-block;
					&.block {
						display: block;
					}
					&.small {
						font-size: 70%;
						opacity: 0.8;
					}
					span {
						font-size: 80%;
					}
				}

				.custom__checkbox + p {
					margin-left: 5px;
					vertical-align: middle;
				}

				.row {

				}

				.row + .row{
					margin-top: 15px;
				}
			}

			textarea {
				width: 100%;
				height: 90px;
				padding: 12px;
				resize: none;
				border: 1px solid #e5e5e5;
				border-radius: 3px;
				box-sizing: border-box;
			}

			input[type="number"],
			input[type="text"],
			select {
				min-width: 180px;
				padding: 12px 10px;
				border: 1px solid #e5e5e5;
				border-radius: 3px;
			}

			select {
				margin-top: 10px;
				margin-left: 15px;
				height: 43px;
				padding: 10px 20px 10px 0;
				text-align: center;
				text-align-last: center;
				&.rowSelect {
					display: block;
				}
			}

			input[type="text"] {
				width: 100%;
			}

			textarea + div {
				margin-top: 10px;

				p {
					vertical-align: middle;
				}
			}
		}
	} /* .section__content--table */

}



/***************************
	BUTTON CONTAINER
****************************/

.btn__container {
	margin-top: 25px;

	a {
		@include transition;
		display: block;
		margin: 0 auto;
		width: 250px;
		padding: 15px 0;
		color: $white;
		background: $blue;
		font-size: 18px;
		line-height: 1;
		letter-spacing: 0.02em;
		text-align: center;
		border: 1px solid $blue;
		border-radius: 50px;

		&:hover {
			background: $white;
			color: $blue;
		}
	}
} /* btn__container */

.btn__container + footer {
	margin-top: -15px;
}


/***************************
	BREADCRUMBS
****************************/

.breadcrumbs__container{
	margin: 20px 50px 0;
	display: block;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.02em;

	.breadcrumbs {
		float: left;
		margin-top: 10px;

		li {
			display: inline;
			font-weight: 400;

			a {
				display: inline-block;
				color: inherit;
				@include transition;

				&.active {
					color: $blue;
				}

				&:hover {
					opacity: .7;
				}
			}

			&.active {
				color: $blue;
			}
		}

		li+li:before {
			content: '';
			display: inline-block;
			width: 6px;
			height: 11px;
			margin: 0 12px;
			background: url('../images/icons/icon_arrow_right_black.png') no-repeat;
			background-size: 100% auto;
		}
	} /* .breadcrumbs */

	.breadcrumbs__btnContainer{
		float: right;

		.bc__button {
			display: inline-block;
			width: 160px;
			padding: 11px 0;
			background: $blue;
			color: $white;
			text-align: center;
			border-radius: 25px;
			border: 1px solid $blue;
			box-sizing: border-box;
			@include transition;

			&:first-child {
				width: 180px;
				margin-right: 12px;
			}

			.add {
				display: inline-block;
				position: relative;
				margin-right: 5px;
				width: 15px;
				height: 15px;

				&::before {
					content: '';
					position: absolute;
					top: 1px;
					left: 7px;
					width: 1px;
					height: 15px;
					border-left: 1px solid $white;
				}

				&::after {
					content: '';
					position: absolute;
					top: 8px;
					left: 0;
					width: 15px;
					height: 1px;
					border-top: 1px solid $white;
				}
			}

			&:hover {
				background: $white;
				color: $blue;

				.add {
					&::before {
						border-left: 1px solid $blue;
					}

					&::after {
						border-top: 1px solid $blue;
					}
				}
			}
		}
	} /* .breadcrumbs__btnContainer */
}


/******************************
	CUSTOM
	  - checkbox
*******************************/

.custom__checkbox {
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;
	label {

		input[type="checkbox"] {
			display: none;
		}

		input[type="checkbox"] + span.btn {
			display: inline-block;
			width: 15px;
			height: 15px;
			border: 1px solid #424242;
			border-radius: 50%;
			cursor: pointer;
			@include transition;
		}

		input[type="checkbox"]:checked + span.btn {
			background: $blue;
			border: 1px solid $blue;
			border-radius: 50%;
		}
		p {
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			&.checked {
				font-weight: 500;
			}
		}
	}
}

.custom__checkbox2 {
	margin-left: 10px;
	margin-top: 10px;
	display: block;
	vertical-align: middle;
	label {
		display: inline-block;
		input[type="checkbox"] {
			display: none;
		}

		input[type="checkbox"] + span.btn {
			display: inline-block;
			width: 15px;
			height: 15px;
			border: 1px solid #424242;
			border-radius: 50%;
			cursor: pointer;
			@include transition;
		}

		input[type="checkbox"]:checked + span.btn {
			background: $blue;
			border: 1px solid $blue;
			border-radius: 50%;
		}
		p {
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			&.checked {
				font-weight: 500;
			}
		}
	}
}




/******************************
	CUSTOM
	  - radio
*******************************/

.custom__radioBtnbox {
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
	vertical-align: middle;

	label{

		input[type="radio"] {
			display: none;
		}

		input[type="radio"] + span.btn {
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			border: 1px solid #424242;
			border-radius: 50%;
			cursor: pointer;
			@include transition;
		}

		input[type="radio"]:checked + span.btn {
			background: $blue;
			border: 1px solid $blue;
			border-radius: 50%;
		}
		p {
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			&.checked {
				font-weight: 500;
			}
		}
	}
}

.custom__radioBtnbox2 {
	margin-left: 10px;
	margin-top: 10px;
	display: block;
	vertical-align: middle;

	label{

		input[type="radio"] {
			display: none;
		}

		input[type="radio"] + span.btn {
			display: inline-block;
			vertical-align: middle;
			width: 15px;
			height: 15px;
			border: 1px solid #424242;
			border-radius: 50%;
			cursor: pointer;
			@include transition;
		}

		input[type="radio"]:checked + span.btn {
			background: $blue;
			border: 1px solid $blue;
			border-radius: 50%;
		}
		p {
			margin-left: 10px;
			display: inline-block;
			vertical-align: middle;
			&.checked {
				font-weight: 500;
			}
		}
	}
}

/******************************
	CUSTOM
	  - textfield--between
*******************************/

.custom__textfield {
	margin-top: 10px;
	display: block;
	p {
		display: inline-block;
	}
	input[type="text"] {
		display: inline-block;
	    width: 50px !important;
	    min-width: unset !important;
	    padding: 6px 5px !important;
	}
}

/****************************
	TABLE
*****************************/

.table {
	margin: 0px auto;
	display: table;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	.tbody {
		.tr {
			display: block;
			width: 100%;
			font-size: 0;
			line-height: 1;
			.td {
				display: inline-block;
				border: 1px solid #eee;
				&.col-04 {
					width: calc(25% - 2px);
					height: 40px;
				}
			}
		}
	}
}

/****************************
	TABLE
		-pages
*****************************/

.pages {
	display: table;
	text-align: left;
	border-collapse: collapse;
	margin: 0px auto;
	width: 100%;
	.tbody .tr {
		&:nth-child(odd) {
			background-color: #f8f9fa;
		}
		&:nth-child(even) {
			background-color: #fbfcfd;
		}
	}
	.td {
		display: inline-block;
		padding: 10px 0;
		vertical-align: middle;
		line-height: 1.5;
	}
	.tr {
		display: block;
	}
	.thead {
		&:not(.all-pages) {
			.td {
				&:nth-child(1) {
				width: calc(35% - 74px);
				margin-left: 74px;
				}
			}
		}
		.td {
			padding: 0;
		}
	}
	.tbody {
		margin-top: 27px;
	}
	.td {
		&:nth-child(1) {
			width: calc(35% - 36px);
			margin-left: 36px;
			.checkbox__label {
				padding: 0px 10px;
				display: inline-block;
				vertical-align: middle;
				font-size: 16px;
				line-height: 1;
			}
		}
		&:nth-child(2) {
			width: 20%;
		}
		&:nth-child(3) {
			width: 20%;
		}
		&:nth-child(4) {
			width: calc(23% - 36px);
			margin-right: 36px;
			text-align: right;
		}
	}
	.trash {
		text-align: right;
		@include transition;
		&:hover {
			filter: grayscale(100%);
		}
		img {
	  		width: 50px;
		}
	}

	.custom__checkbox + .pages__Btn {
		margin-left: 15px;
	}

	.pages__Btn {
		width: 150px;
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-size: 16px;
		a {
			text-decoration: none;
			font-size: 16px;
			line-height: 1;
			p {
				border: 1px solid #e5e5e5;
				border-color: #2775f6;
				border-radius: 20px;
				padding: 12px 24px;
				max-width: 150px;
				color: $white;
				background: $blue;
				text-align: center;
				transition: all 1s ease;
			}
			&:hover p {
				background-color: $white;
				color: $blue;
			}
		}
		&.black {
			a {
				p {
					border: 1px solid $black;
					border-color: $black;
					color: $white;
					background: $black;
				}
				&:hover p {
					color: $black;
					background: $white;
				}
			}
		}
		&.small {
			width: 120px;
			a {
				p {
					padding: 8px 18px;
					max-width: 120px;
				}
			}
		}
	}
}

/****************************
	SECTION
		-config
*****************************/

.configNav {
	.td {
		.configNav__item {
			@include transition;
			text-decoration: none;
			color: #000;
			&:hover {
				opacity: 0.8;
			}
			p {
				@include transition;
				padding: 15px 0;
			}
			&.active {
				p {
					border-bottom: 1px solid #444;
					font-weight: 500;
				}
			}
		}
	}
}

.section__config {
	@include transition;
	display: none !important;
	opacity: 0;
	overflow: hidden;
	&.active {
		display: block !important;
	}
	&.visible {
		opacity: 1;
	}

	.section__config--btnContainer{
		float: right;

		.button {
			display: inline-block;
			width: 160px;
			padding: 11px 0;
			background: $blue;
			color: $white;
			text-align: center;
			border-radius: 25px;
			border: 1px solid $blue;
			box-sizing: border-box;
			@include transition;

			&:first-child {
				width: 220px;
				margin-right: 12px;
			}

			.add {
				display: inline-block;
				position: relative;
				margin-right: 5px;
				width: 15px;
				height: 15px;

				&::before {
					content: '';
					position: absolute;
					top: 1px;
					left: 7px;
					width: 1px;
					height: 15px;
					border-left: 1px solid $blue;
				}

				&::after {
					content: '';
					position: absolute;
					top: 8px;
					left: 0;
					width: 15px;
					height: 1px;
					border-top: 1px solid $blue;
				}
			}

			&:hover {
				color: $blue;
				background: $white;

				.add {
					&::before {
						border-left: 1px solid $white;
					}

					&::after {
						border-top: 1px solid $white;
					}
				}
			}
		}
	} /* .breadcrumbs__btnContainer */

	.section__configInner {
		padding: 20px 0px;
		margin-top: 22px;
		width: 100%;
		overflow: hidden;
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.02em;

		input[type="number"],
		input[type="text"],
		select {
			min-width: 180px;
			padding: 12px 0px;
			border: 1px solid #e5e5e5;
			border-radius: 3px;
		}

		select {
			padding: 10px 20px 10px 0;
			height: 43px;
			text-align: center;
			text-align-last: center;
		}

		&.top-border {
			border-top: #bbb solid 1px;
		}

		.configButton {
			display: inline-block;
			width: 160px;
			padding: 11px 0;
			background: $blue;
			color: $white;
			text-align: center;
			border-radius: 25px;
			border: 1px solid $blue;
			box-sizing: border-box;
			@include transition;

			&:hover {
				color: $blue;
				background: $white;
			}

		}

		input[type="text"] {
			width: 100%;
		}

		.section__configRow {

			margin-top: 20px;
			width: 100%;
			max-width: 1100px;
			display: block;

			&.labelTop {
				margin-top: 20px;
				.section__configCol {
					&:not(:first-child) {
						margin-top: 15px;
					}
				}
            }

            &.hide {
                display: none;
            }

			.section__configCol {
				display: inline-block;
				width: 98%;

				&.label {
					max-width: 250px !important;
				}

				&.txtdel,
				&.txtadd {
					&.hide {
						display: none;
					}
					margin-left: 12px;
					max-width: max-content;
					vertical-align: middle;

					a {
						text-decoration: none;
						color: #000;

						p {
							font-size: 32px;
							line-height: 1.2;
						}

					}

				}

				&.txtbetween {
					margin: 0 10px;
					max-width: max-content;
				}

				&.txtfld {
					max-width: calc(98% - 300px);
				}

				&.short {
					max-width: 29%;
				}

				&.full{
					display: block;
					max-width: 93%;
				}

			}

		}
		.section__configRow {

			.txtfld {
				max-width: calc(98% - 350px);
			}

		}

	}

}

/****************************
Added by Alvin Generalo
CSS for displaying error messages
*****************************/
div.errors{
  padding: 10px 40px;
  margin: 10px 10px;
  border-radius: 10px;
  background-color: #f2dede;
  color: #a94442;
  font-weight: bold;
}
/****************************/
