/**************************** variable
*****************************/
/**************************** mixin
*****************************/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");
/**************************** base
*****************************/
html, body { height: 100%; }

* { margin: 0; padding: 0; }

*:focus { outline: 0; }

body { margin: 0; padding: 0; font-family: 'Noto Sans JP', sans-serif; line-height: 100%; font-weight: 300; box-sizing: border-box; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; min-width: 1100px; width: 100%; display: flex; flex-direction: column; }

::-moz-selection { color: #fff; background: #2775f6; text-shadow: none; }

::selection { color: #fff; background: #2775f6; text-shadow: none; }

a { text-decoration: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5); }

h1, h2, h3, h4, h5 { margin: 0; padding: 0; font-weight: normal; }

img { border: none; vertical-align: text-bottom; }

figure { font-size: 0; line-height: 0; }

input[type="text"], input[type="button"], input[type="email"], input[type="submit"], textarea { border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.wrapper { width: 100%; position: relative; }

/**************************** utility ****************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.u-red { color: #e60012; }

.u-bg-white { background: #fff; }

.u-bg-navy { background: #0085c9; }

.u-bg-navy_d { background: #00498b; }

.u-bg-navy_dd { background: #071c43; }

.u-bg-blue { background: #6ec4e9; }

.u-bg-blue_d { background: #588099; }

.u-bg-blue_l { background: #bedded; }

.u-bg-red { background: #e60012; }

.u-bg-gray { background: #c9caca; }

.u-center { text-align: center; }

.u-link01 { font-size: 16px; line-height: 1; letter-spacing: 0.3em; }

.u-link01 a { display: inline-block; color: #000; border: #000 1px solid; background: transparent; text-decoration: none; padding: 15px 42px 17px; transition: all 0.2s linear; }

.u-link01 a:hover { color: #fff; background: #000; }

/**************************** responsive
*****************************/
/* 769px - */
/* - 768px */
/* 769px - 1028px */

/*# sourceMappingURL=common.css.map */
